# Document files
# exclude folder but search in
documentation/* 
# include pdf
!documentation/Documentation_SK.pdf 

# search in file
!documentation/doxygen/ 
# exclude files
documentation/doxygen/* 

# include html page
#!documentation/doxygen/html/ 

# include latex pdf
!documentation/doxygen/latex/ 
documentation/doxygen/latex/*
!documentation/doxygen/latex/refman.pdf

#J-link files
*JLinkLog.txt
*JLink*


# Keil files
*.i
*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.Vishwas
*.bin
*.fed
*._2i
*.l1p
*.l2p
*.iex
.#*
*.uvgui.*
*.uvopt

read me.txt

# Listing an OBJECT files
obj
*.ewd
*.ewc
*.dep

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
# *.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
JLinkLog.txt
JLinkLog.txt
